<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 

  </head>
  <body>
    <% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%=page %></h3><br>
  <div class="row">
    <table class="table table-striped table-responsive-md btm-table">
        <thead>
          <tr>
             
              <th>Name</th>
              <th>Reg Id</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
          </tr>
      </thead>
        <tbody>
          <% student.forEach(function(student){ %>
             <tr>
             
              <td style="text-align: left;"><%=student.name %></td>
              <td  style="text-align: left;"><%=student.regid %></td>
              <td>
                <form action='updateform/<%=student._id %>' method="POST">
                  <button type="submit">Update</button>
              </form>
              </td>
              <td>
                <form action='<%=student._id %>/delete'  method="POST">
                <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
            <% }); %>
        </tbody>
   
    </table>
  </div>
</div>
</body>
<% include partials/script %>
</html>
